<!DOCTYPE html>
{% extends 'rango/base.html' %}
{%load staticfiles %}

{% block title_block %}
	About
{% endblock %}

{% block body_block %}
	<h1>Rango says here is the about page </h1>
	<div>
		<a href="{% url 'index' %}">Back</a><br />
		<img src="{% static "images/about.jpg" %}"
			alt="about sign"/><!-- New Line-->
	</div>
	<div>
		this tutorial was put together by Ross Gardiner - 2190583g
	</div>
	<div>
		<img src="{{MEDIA_URL}}cat.jpg" />
	</div>
	<div>
	{% if visits %}
		<p> visits: {{visits}}</p>
	{% else %}
		<p> visits: unknown </p>
	{% endif %}
	</div>
{% endblock %}
